.card-title {
    text-align: center;
    margin-top: 50px;
}

.navbar {
    background-color: aqua;
}

.navbar .navbar-brand img {
    width: 60px;
}

.card {
    background: #fbfbfb;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
    height: 410px;
    margin: 6rem auto 8.1rem auto;
    width: 329px;
}

.bg {
    background-color: silver;
}

.form {
    margin-left: 10px;
    margin-right: 15px;
}

.form-control {
    font-size: small;
}